.desktop {
  @media (max-width: 991px) {
    display: none;
  }
  width: 100vw;
  height: 100vh;
  display: flex;
  a,
  .photoCol {
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
    background-image: url("https://picsum.photos/200/800");
    background-size: cover;
    background-position: center;
    cursor: pointer;
    background-color: rgb(229, 230, 235);

    display: flex;
    flex-direction: column-reverse;
    &:hover {
      .name {
        color: #444;
      }
    }
    .name {
      text-align: center;
      font-size: 40px;
      letter-spacing: 2px;
      padding-bottom: 50px;
      font-family: "Helvetica Neue Black", sans-serif;
      color: #040607;

      @media (max-width: 1300px) {
        font-size: 32px;
        padding-bottom: 54px;
      }
      @media (max-width: 1150px) {
        font-size: 24px;
        padding-bottom: 58px;
      }

      // text-shadow: 0 1px 1px rgb(223, 227, 229), 0 4px 0 rgba(0, 0, 0, 0.25);
      // text-shadow: 0 -4px 3px rgba(255, 255, 255, 0.3), 0 3px 4px rgba(0, 0, 0, 0.2);
      // text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa,
      //   0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
      //   0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
      //   0 20px 20px rgba(0, 0, 0, 0.15);
      // color: #3f3f3f;
      // another down here
      // background-color: #333;
      // -webkit-background-clip: text;
      // -moz-background-clip: text;
      // background-clip: text;
      // color: transparent;
      // text-shadow: rgba(255, 255, 255, 0.8) 0px 3px 3px;
      background-color: rgb(227, 232, 235);
      $shadow-color: rgba(0, 0, 0, 0.3);
      $highlight-color: rgba(0, 0, 0, 0.1);
      $bevel-px: 1px;
      text-shadow: $bevel-px 0 0 $shadow-color, 0 $bevel-px 0 $shadow-color,
        $bevel-px $bevel-px 0 $shadow-color, -$bevel-px 0 0 $highlight-color,
        0 -$bevel-px 0 $highlight-color, -$bevel-px -$bevel-px 0 $highlight-color;
      @media (max-width: 991px) {
        display: none;
      }
    }
  }
}

.mobile {
  @media (min-width: 992px) {
    display: none;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 335px;
    gap: 1px;

    .DropBox {
      grid-column-end: span 1;
      grid-row-end: span 1;
    }
    .DropBox:nth-child(5n) {
      grid-column-end: span 2;
    }
  }
}
