@import "../styles/vars.scss";

.desktop {
  @media (max-width: 991px) {
    display: none;
  }
  width: 100vw;
  height: 100vh;
  display: flex;
  a,
  .photoCol {
    flex: 1 1 0px;
    height: 100%;
    background-image: url("https://picsum.photos/200/800");
    background-size: cover;
    background-position: center;
    cursor: pointer;
    background-color: $color-gray;

    display: flex;
    flex-direction: column-reverse;
    &:hover {
      .name {
        color: #333;
      }
    }
    .name {
      text-align: center;
      font-size: 40px;
      letter-spacing: 2px;
      padding-bottom: 50px;
      font-family: $font-family-black;
      color: $color-light-black;

      @media (max-width: 1300px) {
        font-size: 32px;
        padding-bottom: 54px;
      }
      @media (max-width: 1150px) {
        font-size: 24px;
        padding-bottom: 58px;
      }
      background-color: $color-gray;
      $shadow-color: rgba(0, 0, 0, 0.3);
      $highlight-color: rgba(0, 0, 0, 0.1);
      $bevel-px: 1px;
      text-shadow: $bevel-px 0 0 $shadow-color, 0 $bevel-px 0 $shadow-color,
        $bevel-px $bevel-px 0 $shadow-color, -$bevel-px 0 0 $highlight-color,
        0 -$bevel-px 0 $highlight-color, -$bevel-px -$bevel-px 0 $highlight-color;
      @media (max-width: 991px) {
        display: none;
      }
    }
  }
}

.mobile {
  @media (min-width: 992px) {
    display: none;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 335px;
    gap: 1px;

    .DropBox {
      grid-column-end: span 1;
      grid-row-end: span 1;
    }
    .DropBox:nth-child(5n) {
      grid-column-end: span 2;
    }
  }
}
