@import "../styles/vars.scss";

.mobileOnly {
  display: none;
  @media (max-width: 991px) {
    display: block;
  }
}
.dropDetailContainerDesktop {
  display: flex;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: none;
  height: 100vh;
  @media (max-width: 991px) {
    display: none;
  }
  .left {
    justify-content: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    height: 100%;
    flex-grow: 1;
    .backToDrops {
      .backArrow {
        width: 30px;
        height: auto;
        display: inline-block;
        position: relative;
        top: -1px;
      }
      a:hover {
        color: $color-black;
      }
      font-size: $font-size-sm;
      color: $color-dark-gray;
      z-index: 1000;
      position: absolute;
      top: 10%;
      left: 30px;
    }
    .prevArrow,
    .nextArrow {
      position: absolute;
      z-index: 1000;
      color: $color-dark-gray;
      top: 50%;
      img {
        height: 16px;
        width: 16px;
        display: inline;
      }
      .hover {
        visibility: hidden;
      }
      &:hover {
        color: $color-black;
        .hover {
          visibility: visible;
          // font-weight: bold;
        }
      }
    }
    .prevArrow {
      left: 10px;
    }
    .nextArrow {
      right: 10px;
    }
    .img {
      height: 100vh;
      width: auto;
      @media (min-width: 992px) {
        min-width: 100%;
      }
      object-fit: cover; /* Do not scale the image */
      object-position: center; /* Center the image within the element */
    }
  }
  .right {
    width: 65%;
    height: 100%;
    padding: 13vh 47px 0;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 33.33%;
    .header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;
    }
    .voteCount {
      position: relative;
      top: -3px;
    }
    h1 {
      font-size: $font-size-lg;
    }
    h3 {
      margin-bottom: 9px;
      font-size: 14px;
    }
    .dek {
      margin-top: 25px;
      margin-bottom: 40px;
      max-width: 40rem;
    }
    .dropShopGrid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: auto;

      max-width: 700px;
      margin: 10px auto;
      @media (max-width: 1300px) {
        grid-template-columns: 1fr;
        gap: 10px;
      }
      @media (min-width: 2000px) {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: none;
      }
      // .product {
      // }
    }
  }
  min-height: 100vh;
}
.dropDetailContainerMobile {
  @media (min-width: 992px) {
    display: none;
  }
  .carousel {
    height: 90vh;
    width: 100%;
    background-color: $color-gray;
    position: relative;
    .headerImg {
      height: 100%;
      width: auto;
      object-fit: cover;
      object-position: center;
      margin: 0 auto;
    }
    .prevArrow,
    .nextArrow {
      position: absolute;
      z-index: 1000;
      bottom: 24px;
    }
    .prevArrow {
      left: 16px;
    }
    .nextArrow {
      right: 16px;
    }
  }
  .shopHeader {
    background-color: yellow; // TODO: fix
    padding: 10px 0;
    font-family: $font-family-black;
    text-align: center;
  }
  .productGrid {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1px;
    background-color: $color-white;
    z-index: 0;
    overflow: hidden;
    .product {
      background-color: $color-offwhite;
      width: 100%;
      height: 100%;
    }
    @mixin large-tile {
      grid-column: span 2;
      height: 60vh;
      min-height: 110vw;
    }
    &.products1 {
      .product:first-child {
        @include large-tile();
      }
    }
    &.products4 {
      .product:first-child,
      .product:nth-child(4) {
        @include large-tile();
      }
    }
    &.products7 {
      .product:nth-child(1),
      .product:nth-child(4),
      .product:nth-child(7) {
        @include large-tile();
      }
    }
    &.products3,
    &.products6,
    &.products9,
    &.products12 {
      .product:nth-child(3n) {
        @include large-tile();
      }
    }
    &.products5,
    &.products10,
    &.products15 {
      .product:nth-child(5) {
        @include large-tile();
      }
    }
    &.products8,
    &.products11 {
      .product:nth-child(3n),
      .product:nth-child(6),
      .product:nth-child(9) {
        @include large-tile();
      }
    }
  }
  .influencerContent {
    padding: 8px;
    margin-bottom: 24px;
    .hed {
      font-family: $font-family-black;
      margin-top: 20px;
      margin-bottom: 4px;
    }
    .subhed {
      margin-bottom: 20px;
    }
  }
  .socialPost {
    // height: 300px;
    margin-right: 16px;
    .footer {
      margin-top: 8px;
      display: flex;
      align-items: center;
    }
    .authorImage {
      height: 70px;
      width: 70px;
      border-radius: 50%;
    }
    .authorHandle {
      margin-left: 8px;
      // color: #666;
    }
  }
  .episodeTile {
    img {
      width: 100%;
      height: auto;
    }
  }
}
