@import "../styles/vars.scss";
.button {
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: $color-black;
  color: $color-offwhite;
  font-family: $font-family-black;
  font-size: $font-size-sm;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &.yellow {
    background-color: yellow;
    color: $color-black;
  }
}
