@import "../styles/vars.scss";

.carouselWrapper {
  height: 100%;
  width: 100%;
  :global .slick-list,
  :global .slick-track {
    height: 100%;
  }
  :global .slick-track {
    display: flex;
  }
  :global .slick-slider {
    height: 100%;
  }
  :global .slick-track .slick-slide {
    display: flex;
    height: auto;
  }
  :global ul.slick-dots {
    display: flex;
    width: 90%;
    margin: 0 auto;
    // left: 25%;
    position: relative;
    bottom: 15px;
    justify-content: center;
    li {
      flex-grow: 1;
      margin: 0 5px;
      margin: 0;
      width: 100%;
      height: 2px;
      background-color: $color-dark-gray;
      overflow: hidden;
      &.slick-active {
        background-color: $color-white;
      }
      &::before {
        display: none;
      }
      &::marker {
        display: none;
      }
    }
  }
}
.customPageElement {
  width: 100%;
  height: 100%;
}
