@import "../styles/vars.scss";

.carouselWrapper {
  height: 100%;
  width: 100%;
  :global .slick-list,
  :global .slick-track {
    height: 100%;
  }
  :global .slick-track {
    display: flex;
  }
  :global .slick-slider {
    height: 100%;
  }
  :global .slick-track .slick-slide {
    display: flex;
    height: auto;
  }
  :global ul.slick-dots {
    display: flex;
    width: 90%;
    margin: 0 auto;
    // left: 25%;
    position: relative;
    bottom: 35px;
    justify-content: center;
    li {
      flex-grow: 1;
      margin: 0 5px;
      margin: 0;
      width: 100%;
      padding: 5px 0;
      overflow: hidden;
      &.slick-active {
        :local .bar {
          background-color: $color-white;
        }
        padding: 5px 4px;
      }
      &::before {
        display: none;
      }
      &::marker {
        display: none;
      }
    }
  }
}
.clickableArea {
  padding: 8px 0;
  cursor: pointer;
}
.bar {
  width: 100%;
  height: 2px;
  background-color: $color-offwhite;
  margin: 8px 0;
}
