.footerWrapper {
  @media (min-width: 992px) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    &:hover {
      .footer {
        height: 60px;
      }
    }
  }
}
.footer {
  img {
    width: 92px;
    height: 28px;
    margin: 0 auto;
  }
  @media (min-width: 992px) {
    height: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  @media (max-width: 991px) {
    padding: 20px 0;
    text-align: center;
  }
  background-color: #eee;
}
