.footerWrapper {
  display: none;
  @media (min-width: 992px) {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    &:hover {
      .footer {
        height: 60px;
        bottom: 0px;
      }
    }
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: -100px;
  .left {
    display: flex;
    align-items: center;
    div {
      margin-left: 12px;
    }
  }
  .right {
    display: flex;
    align-items: center;
    img {
      height: 16px;
      width: auto;
      margin-right: 12px;
    }
  }
  @media (min-width: 992px) {
    height: 0;
    position: fixed;
    left: 0;
    right: 0;
    transition: 0.15s ease-in-out;
  }
  @media (max-width: 991px) {
    padding: 20px 0;
    text-align: center;
    .logo {
      width: 92px;
      height: 28px;
      margin: 0 auto;
    }
  }
  background-color: #eee;
}
.footerMobile {
  display: none;
  @media (max-width: 991px) {
    display: block;
    padding: 20px 0;
    text-align: center;
    .logo {
      width: 92px;
      height: 28px;
      margin: 0 auto;
    }
  }
  background-color: #eee;
}
